<div class="container mt-3">
  <h2>Teachers</h2>

  <button class="btn btn-primary mb-3" routerLink="/teachers/add">
    Add Teacher
  </button>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Full Name</th>
      <th>Phone</th>
      <th>Subjects</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let teacher of teachers">
      <td>{{ teacher.id }}</td>
      <td>{{ teacher.fullName }}</td>
      <td>{{ teacher.phone }}</td>
      <td>
  <span *ngFor="let subj of teacher.subject ?? []; let i = index">
    {{ subj.name }}<span *ngIf="i < (teacher.subject?.length ?? 0) - 1">, </span>
  </span>
      </td>
      <td>
        <!--<a class="btn btn-sm btn-info me-2" [routerLink]="['/teachers/edit', teacher.id]">Edit</a>-->
        <button class="btn btn-sm btn-danger" (click)="deleteTeacher(teacher.id!)">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table><app-back-button></app-back-button>
</div>
