<div class="fees-page">
  <div class="page-header">
    <h2>Fee Details for {{ student?.name }}</h2>
  </div>

  <table class="fees-table" >
    <thead>
    <tr>
      <th>Month</th>
      <th>Year</th>
      <th>Status</th>
      <th>Paid Amount</th>
      <th>Payment Date</th>
      <th>Due Date</th>
      <th>Payment Mode</th>
      <th>Received By</th>
      <th>Comment</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let f of fees">
      <td data-label="Month">{{ f.month }}</td>
      <td data-label="Year">{{ f.year }}</td>
      <td data-label="Status"
          [ngClass]="{'paid': f.status === 'PAID', 'unpaid': f.status === 'DUE', 'fisabilillah': f.status === 'Fi Sabilillah'}">
        {{ f.status }}
      </td>
      <td data-label="Paid Amount">{{ f.paidAmount }}</td>
      <td data-label="Payment Date">{{ f.paymentDate || 'Unpaid' }}</td>
      <td data-label="Payment Due Date">{{ f.dueDate }}</td>
      <td data-label="Payment Mode">{{ f.paymentMode }}</td>
      <td data-label="Recorded By">{{ f.recordedBy }}</td>
      <td data-label="Remark">{{ f.remark }}</td>
      <td>
        <button class="notify-btn" (click)="deleteFee(f)">Delete fee details</button>
      </td>
    </tr>
   <tr>
      <td>
        <select [(ngModel)]="newFee.month" name="newstatus">
          <option value="">All Months</option>
          <option *ngFor="let m of months" [value]="m">{{m}}</option>
        </select>
      </td>
      <td><input type="number" [(ngModel)]="newFee.year" name="newyear"></td>
      <td>
        <select [(ngModel)]="newFee.status" name="newstatus">
          <option value="PAID">PAID</option>
          <option value="DUE">DUE</option>
        </select>
      </td>
      <td><input type="number" [(ngModel)]="newFee.paidAmount" name="newamount"></td>

      <td><input type="date" [(ngModel)]="newFee.paymentDate" name="newPayment Date"></td>
      <td><input type="date" [(ngModel)]="newFee.dueDate" name="newDue Date"></td>
     <td>
       <select [(ngModel)]="newFee.paymentMode" name="newPayment Mode">
         <option value="ONLINE">ONLINE</option>
         <option value="UPI">UPI</option>
         <option value="CASH">CASH</option>
         <option value="PENDING">PENDING</option>
       </select>
     </td>
      <td><input [(ngModel)]="newFee.recordedBy" name="newRecorded By"></td>
      <td><input [(ngModel)]="newFee.remark" name="newRemark"></td>
      <td>
        <button (click)="addFee(newFee)">Add</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="action-buttons-left">
    <button class="back-btn" (click)="goBack()">← Back</button>
    <button class="notify-btn" (click)="notifyParents()">Notify Parents/Guardian</button>
  </div>
</div>
