<div class="container mt-3">

  <div class="page-header">
    <h2>Fees Management</h2>
  </div>

  <!-- Filters -->
  <div class="fees-filters">
    <select [(ngModel)]="selectedClass">
      <option value="">All Classes</option>
      <option *ngFor="let cls of classes" [value]="cls.id">{{cls.name}}</option>
    </select>

 <!--   <select [(ngModel)]="selectedMonth">
      <option value="">All Months</option>
      <option *ngFor="let m of months" [value]="m">{{m}}</option>
    </select>-->

    <select [(ngModel)]="selectedStatus">
      <option value="ALL">All Status</option>
      <option value="PAID">Paid</option>
      <option value="DUE">Due</option>
      <option value="FISBILILLAH">Fi Sabilillah</option>
    </select>
    <input class="large-input" type="text" placeholder="Search by name, contact, roll no" [(ngModel)]="searchText">
  </div>

  <!-- Bulk actions -->
  <div class="bulk-actions">
    <button class="action-btn paid" (click)="assignFees('PAID')">✔ Mark Selected as Paid</button>
    <button class="action-btn unpaid" (click)="assignFees('DUE')">✖ Mark Selected as Unpaid</button>
    <button class="action-btn notify" (click)="bulkNotifyParents()">📩 Notify Parents</button>
  </div>


  <!-- Fees Table -->
  <table class="fees-table">
    <thead>
    <tr>
      <th><!--<input type="checkbox" [(ngModel)]="selectAll" (change)="toggleAllSelection()">--></th>
      <th>Student Name</th>
      <th>Class</th>
      <th>Roll No</th>
      <th>Phone</th>
      <th>Total Fee</th>
      <th>Total due</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of filteredStudents(); let i = index">
      <td>  <input type="checkbox"
                   [checked]="selectedIds.has(s.id)"
                   (change)="toggleSelection(s)"></td>
      <td><a [routerLink]="['/student', s.id, 'fees']">{{ s.name }}</a></td>
      <td>{{ s.maktabClass?.name }}</td>
      <td>{{ s.rollNo }}</td>
      <td>{{ s.phone }}</td>
      <td>Rs. {{ calculateTotalFees(s) }}/-</td>
      <td>Rs. {{ calculatePendingFees(s) }}/-</td>
      <td>{{ markStatus(s) }}</td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="currentPage===1">Prev</button>
    <span>Page {{currentPage}} / {{totalPages}}</span>
    <button (click)="nextPage()" [disabled]="currentPage===totalPages">Next</button>
  </div>
  <!--<app-back-button></app-back-button>-->
</div>
