<div class="container mt-3">
  <h2>Students</h2>

  <button class="btn btn-primary mb-3" routerLink="/students/add">
    Add Student
  </button>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Roll No</th>
      <th>Class</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Guardian</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>
        <a href="" (click)="goToDetails(student.id!)">{{ student.name }}</a>
      </td>
      <td>{{ student.rollNo }}</td>
      <td>{{ student.schoolClass?.name }}</td>
      <td>{{ student.age }}</td>
      <td>{{ student.gender }}</td>
      <td>{{ student.guardianName }}</td>
      <td>{{ student.phone }}</td>
      <td>
        <!--<button class="btn btn-sm btn-info me-2" [routerLink]="['/students/edit', student.id]">Edit</button>-->
        <button class="btn btn-sm btn-danger" (click)="deleteStudent(student.id!)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
