<div class="container mt-3">
  <h2>Students</h2>

  <button class="btn btn-primary mb-3" routerLink="new">Add Student</button>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Father/Guardian Name</th>
      <th>Surname</th>
      <th>Roll No</th>
      <th>Class</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Phone</th>
      <th>Admission Date</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>
        <a [routerLink]="['/student/details', student.id]">{{ student.name }}</a>
      </td>
      <td>{{ student.guardianName }}</td>
      <td>{{ student.surName }}</td>
      <td>{{ student.rollNo }}</td>
      <td>{{ student.schoolClass?.name }}</td>
      <td>{{ student.age }}</td>
      <td>{{ student.gender }}</td>
      <td>{{ student.phone }}</td>
      <td>{{ student.admissionDate }}</td>
      <td>
        <button class="btn btn-sm btn-warning" (click)="openEditModal(student)">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>
  <app-back-button></app-back-button>
</div>



