<nav class="navbar">
  <!-- Left side -->
  <div class="navbar-left">
    <img class="icon" src="../../favicon.ico">
    <div>
      <h2>Anjuman Hazrat Abu Bakr Siddique (radiallahu anhu)</h2>
      <h5>Masjid e Abu Bakr (radiallahu anhu), Saibaba nagar, Kondhwa khurd, Pune 411048</h5>
    </div>
  </div>
</nav>

<nav class="navbar-brand">
  <ul>
    <li><a routerLink="/dashboard" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/students" routerLinkActive="active">Students</a></li>
    <li><a routerLink="/teachers" routerLinkActive="active">Teachers</a></li>
    <li><a routerLink="/classes" routerLinkActive="active">Classes</a></li>
    <li><a routerLink="/subjects" routerLinkActive="active">Subjects</a></li>
    <li><a routerLink="/attendance" routerLinkActive="active">Attendance</a></li>
    <li><a routerLink="/fees" routerLinkActive="active">Fees</a></li>
    <li><a routerLink="/reports" routerLinkActive="active">Reports</a></li>
  </ul>
</nav>
