<div class="container mt-3">
  <h2>Classes</h2>

  <button class="btn btn-primary mb-3" routerLink="/classes/add">Add Class</button>

  <table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Teachers</th>
      <th>Subjects</th>
      <th>Students</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cls of classes">
      <td>{{ cls.id }}</td>
      <td>{{ cls.name }}</td>
      <td ng-show="cls.teacher!=null">
        <!--<button class="btn btn-sm btn-danger" (click)="showTeachers(cls.teacher)">View Teachers</button>-->
      </td>
      <td ng-show="cls.subject!=null">
        <!--<button class="btn btn-sm btn-danger" (click)="showSubjects(cls.subject)">View Subjects</button>-->
      </td>
      <td ng-show="cls.student!=null">
            <!--<button class="btn btn-sm btn-danger" (click)="showStudents(cls.student)">View Students</button>-->
      </td>
      <td>
       <!-- <button class="btn btn-sm btn-info me-2" [routerLink]="['/classes/edit', cls.id]">Edit</button>-->
        <button class="btn btn-sm btn-danger" (click)="deleteClass(cls.id!)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
